.Rproj.user/7F24AFD3/build_options
.Rproj.user/7F24AFD3/copilot_options
.Rproj.user/7F24AFD3/persistent-state
.Rproj.user/7F24AFD3/rmd-outputs
.Rproj.user/7F24AFD3/saved_source_markers
.Rproj.user/7F24AFD3/pcs/debug-breakpoints.pper
.Rproj.user/7F24AFD3/pcs/files-pane.pper
.Rproj.user/7F24AFD3/pcs/source-pane.pper
.Rproj.user/7F24AFD3/pcs/windowlayoutstate.pper
.Rproj.user/7F24AFD3/pcs/workbench-pane.pper
.Rproj.user/7F24AFD3/sources/per/t/4A763F4D
.Rproj.user/7F24AFD3/sources/per/t/4A763F4D-contents
.Rproj.user/7F24AFD3/sources/prop/F1728E02
.Rproj.user/7F24AFD3/sources/prop/INDEX
.Rproj.user/shared/notebooks/patch-chunk-names
musa-wrky-analysis-v01_files/figure-html/bed-proc-1.png
musa-wrky-analysis-v01_files/figure-html/dm-1.png
musa-wrky-analysis-v01_files/figure-html/unnamed-chunk-1-1.png
